/*Color Scheme
 a2bfcf 
 bad1d9
 faf9e5
 86a6b3
 c8beb9
 */

#centerViewPort {
  padding: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

body {
  background-image: url("background.jpg");  
  background-size: auto;
  background-repeat: no-repeat;
}

#description {
  font-size: 1em;
  margin: 0px 50px 25px;
  color: #092834;
	text-align: justify;
}

#bannerDiv {
  position: relative;
  text-align: center;
  color: #3e4b52;
}

#bannerText {
  margin-top: 40px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#boyButton {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #86a6b3;
  font-size: 2em;
  padding: 1px 40px;
}

#boyButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}

#girlButton {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #c8bfb9;
  font-size: 2em;
  padding: 1px 40px;
}

#girlButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#boyName {
  padding-top: 20px;
  color: #383f42;
  font-size: 2em;
}

#girlName {
  padding-top: 20px;
  color: #383f42;
  font-size: 2em;
}
